{% extends 'base.html' %}
{% block title %}Show Article{% endblock title %}
{% block content %}
    <div class="jumbotron">
        <h2 class="display-4">{{ title_text }}</h2>
        <hr class="my-4">
        {% for p in paragraph_list %}
            <p>{{ p }}</p>
        {% endfor %}
    </div>
{% endblock content %}
