{% extends 'base.html' %}
{% block title %}Article Content{% endblock title %}
{% block content %}
    <div class="jumbotron">
        <h3 class="display-3">{{ article.article_title }}</h3>
        <p><small class="text-info">Article was added on {{ article.article_viewed_date }}</small></p>
        <p><small class="text-secondary">Original URL: {{ article.article_url }}</small></p>
        <hr class="my-4">
        <p>{{ article.article_content }}</p>
    </div>
{% endblock content %}