{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Seattletimes Aritcles Reader</h1>
        <p class="lead">From https://www.seattletimes.com/, copy an article URL and paste it in the field, then click "Show aritcle content" button.</p>
        <hr class="my-4">
        <form action="{% url 'show_article' %}">
            <input type="text" class="form-control" placeholder="Enter URL" name="article_url">
            <br>
            <input type="submit" class="btn btn-primary" value="Show article content">
        </form>
    </div>
{% endblock content %}
