{% extends 'base.html' %}
{% block title %}Viewed Article List{% endblock title %}
{% block content %}
<h1>There are {{ total_articles | length }} articles ({{ total_pages }} pages)</h1>
{% for article in viewed_article_list %}
    <div class="card">
        <div class="card-header">
            Article ID: {{ article.id }}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <h3><a href="{% url 'article_content' article.id %}">{{ article.article_title }}</a></h3>
                <footer class="blockquote-footer">Added on: <cite>{{ article.article_viewed_date }}</cite><small> ({{ article.days_ago }})</small></footer>
            </blockquote>
        </div>
    </div>
{% endfor %}

{% if viewed_article_list.has_previous %}
    <a href="?page=1" class="btn btn-outline-primary mb-4">First</a>
    <a href="?page={{ viewed_article_list.has_previous_page_number }}" class="btn btn-outline-primary mb-4">Previous</a>
{% endif %}

{% for num in viewed_article_list.paginator.page_range %}
    {% if viewed_article_list.number == num %}
        <a href="?page={{ num }}" class="btn btn-primary mb-4">{{ num }}</a>
    {% elif num > viewed_article_list.number|add:'-3' and num < viewed_article_list.number|add:'3' %}
        <a href="?page={{ num }}" class="btn btn-outline-primary mb-4">{{ num }}</a>
    {% endif %}
{% endfor %}

{% if viewed_article_list.has_next %}
    <a href="?page={{ viewed_article_list.next_page_number }}" class="btn btn-outline-primary mb-4">Next</a>
    <a href="?page={{ viewed_article_list.paginator.num_pages }}" class="btn btn-outline-primary mb-4">Last</a>
{% endif %}

{% endblock content %}